<!DOCTYPE html>
<html>
 
<!-- Head Section content -->
<head>
 
    <!-- Page title -->
    <title>The Career Mentor</title>
</head>
 
<!-- Body Section content -->
<body>
 
    <!-- Used to display heading content -->
    <h1>The Career Mentor</h1>
    <h2>Form</h2>
    <p>{{Answer1}}</p>
    

<script>
        function myfunction() {
        var input = document.getElementById("num").value;
        alert(input);
        
    }
    </script>


    <form>
        Select the Option: <input id="num" type="number">
    </form>
    <input type = "button" onclick = "myfunction()" value = "Display">  
    
</body>
 
</html>

