<!DOCTYPE html>
<html>
 
<!-- Head Section content -->
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Page title -->
    {% load static %}
    <title>The career Mentor</title>
    <img style= "width:1250px" src="{% static 'img/pinkk_career.svg' %}"/>
</head>
 
<!-- Body Section content -->
<body>
 
    <!-- Used to display heading content -->
    <h2>Home</h2>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" id="text" href="#">THE CAREER MENTOR</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" id="links" href="HomePage">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="links" href="About">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="links" href="Form">TAKE A TEST</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" id="links" href="Blogs">BLOGS</a>
                </li>
                  <li class="nav-item">
                  <a class="nav-link" id="links" href="#contact">CONTACTS</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" id="links" href="Login">LOG IN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="links" href="Register">REGISTER</a>
                </li>   
                
              </ul>
            </div>
          </div>
        </nav>
</body>
 
</html>
